<div class='title_container'>
	<form action='' id='<%= @survey.id %>/edit' class='submit_edit_title'>
		Survey Title:
		<input type='text' name='survey_title' value='<%= @survey.name %>'><br>
		<input type='submit' value='Submit' class='edit'>
	</form>
</div>