<section id="main">
  <form method="post" id="createQuestion">
    <p>
      <span id="addVar">Add Option</span>
    </p>
    <p>
      <input type="submit" value="Add to Survey">
    </p>
  </form>
  <h2 id='title_land_zone'></h2>
</section>
<a href='/users/<%= @user.id %>'><div>Done working!</div></a>
