
<h1><%= @survey.name %></h1>
<div class="questionList">

  <% @survey.questions.each do |question| %>
  <div class="listItem"><a href="/surveys/<%= @survey.id %>/<%= question.id %>"><%= question.text %></a></div>
  <% end %>

</div>
